# disallow directory named "private", it can be used to store things that should not end up in version control or images
# NOTE: needs to be at the root of the project
/private/
/gitignored/

# disallow version control, package managment, IDEs, tools etc
**/node_modules
**/.venv
**/.vscode
**/.idea
**/.zed
**/coverage/
**/.eslintcache
**/.DS_Store

# do not include any data by default (except json)
*.csv
*.tsv

*.db
*.sqlite
*.sql
*.psql
*.sqlz
*.sqz
*.sql.gz
*.bson
*.jsonl

*.bin
*.dat
*.data

*.swp
*.tmp
.~lock*
*.pid
*.seed
*.lock

*.gz
*.tgz
*.xz
*.zip
*.gzip
*.tar
*.7z
*.rar

*.docx
*.doc
*.xlsx
*.xls
*.pptx
*.ppt
*.odt
*.odp
*.ods
*.pdf

*.ipynb


# disallow logs
*.log
*.log*
**/logs/
**/log/
*.cpuprofile
*.heapprofile
*.heapsnapshot

# disallow configuration
*.toml
*.conf
*.ini
**/toska_login
cypress.env.json
# /cypress/

# disallow secrects
.env
.env*
*.env.*
.secrets
*.secrets
.secrects
*.secrects
*.s3cfg

# disallow backups
**/backups
**/backup
**/dump
**/dumps
**/*databasedumps
**/privateData
**/temp
**/minio-data
**/db_backups
**/mongo_data
**/uploads

# additional inclusions here
dist
build
stats.json
scripts/my_username
*.mp4
tools/benchmark.mjs
t.js
cypress/screenshots
cypress/videos
cypress/downloads

# exclusions here
!.env.template
!.env.sample
!.env.example
!tools/queries/*.sql
!Tietosuojaseloste.pdf
