node_modules
dist
build
stats.json
*.log
*.cpuprofile
*.heapprofile
*.heapsnapshot
.env
.DS_Store
backups
scripts/my_username
.vscode
*.mp4
cypress/screenshots
cypress/videos
temp
tools/benchmark.mjs
t.js
privateData
.idea/
.prettierrc
cypress/downloads
