version: '3.5'

services:
  app:
    build:
      context: .
      args:
        - E2E=true
    command: ['npm','run', 'start:test']
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DATABASE=postgres
      - NODE_ENV=test
    ports:
      - 3000:3000
      - 8000:8000

  db:
    image: registry.toska.cs.helsinki.fi/palaute_test_db
    environment:
      - POSTGRES_PASSWORD=postgres
    container_name: palaute_test_db
