name: Production release

on:
  release:
    types: [published]

jobs:
  test:
    uses: ./.github/workflows/test.yml
    secrets: inherit

  build-and-push:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - uses: actions/checkout@v6

      - name: Build image
        id: build-image
        uses: redhat-actions/buildah-build@v2
        with:
          image: norppa
          tags: production ${{ github.sha }}
          containerfiles: |
            ./Dockerfile
          build-args: |
            NODE_CONFIG_ENV=hy
            BASE_PATH=
            GIT_SHA=${{ github.sha }}
            VERSION=${{ github.ref_name }}
          # Extra args are needed to increase the number of open files
          # because of build EMFILE error: https://github.com/npm/cli/issues/4783#issuecomment-1908016260
          extra-args: |
            --ulimit nofile=4096:4096

      - name: Push to quay.io
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build-image.outputs.image }}
          tags: ${{ steps.build-image.outputs.tags }}
          registry: quay.io/toska
          username: toska+github
          password: ${{ secrets.QUAY_IO_TOKEN }}

  sentry-release:
    runs-on: ubuntu-latest
    needs: build-and-push

    steps:
      - uses: actions/checkout@v6

      - name: Pull image and create a container
        run: docker create --name palaute quay.io/toska/norppa:production

      - name: Copy assets from the container
        run: docker cp palaute:/opt/app-root/src/build ./build

      - name: Create Sentry release
        uses: getsentry/action-release@v3
        env:
          SENTRY_URL: ${{ secrets.SENTRY_URL }}
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_TOKEN }}
          SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
          SENTRY_PROJECT: norppa-backend
        with:
          environment: production
          set_commits: 'skip'
          sourcemaps: './build/static/js'
          url_prefix: '~/static/js'
