name: Staging release

on:
  push:
    branches:
      - master

jobs:
  test:
    uses: ./.github/workflows/test.yml
    secrets: inherit

  build-and-push:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - uses: actions/checkout@v4
  
      - name: Build image
        id: build-image
        uses: redhat-actions/buildah-build@v2
        with:
          image: norppa
          tags: staging ${{ github.sha }}
          containerfiles: |
            ./Dockerfile
          build-args: |
            BASE_PATH=
            GIT_SHA=${{ github.sha }}
            STAGING=true
            NODE_CONFIG_ENV=hy
            VERSION=${{ github.ref_name }}
          # Extra args are needed to increase the number of open files
          # because of build EMFILE error: https://github.com/npm/cli/issues/4783#issuecomment-1908016260
          extra-args: |
            --ulimit nofile=4096:4096 

      - name: Push to quay.io
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build-image.outputs.image }}
          tags: ${{ steps.build-image.outputs.tags }}
          registry: quay.io/toska
          username: toska+github
          password: ${{ secrets.QUAY_IO_TOKEN }}
